@page "/"

<PageTitle>Home</PageTitle>

<h1 class="centered">Demo Blazor App</h1>
<h4 class="centered"> Displays FDA Food Recall Data on a grid and on a chart</h4>

<p class="centered"> <a href="https://learn.microsoft.com/en-us/aspnet/core/?view=aspnetcore-9.0" target="_blank" rel="noopener noreferrer">Based on ASP.NET tutorials</a></p>
<p class="centered"> and </p>
<p class="centered"> <a href="https://aspnet.github.io/quickgridsamples/" target="_blank" rel="noopener noreferrer">ASP.NET QuickGrid samples</a></p>


<style>
    .centered{
        text-align: center;
    }
</style>